/*
Estilos genéricos para sacar los bordes
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/*
Sacando el estilo de lista
*/
ul, ol {
	list-style: none;
}

/*
Fuente para toda la pagina
*/
body{
	font-family: 'Roboto', sans-serif;
}

/*
Estilos solo para el slideshow
*/
.slideshow{
	width: 100%;
	position: relative;
}


/*
Llamamos a las listas para darle el ancho del 100%
*/
.slider li, ul{
	width: 100%;
}

/*
Llamamos a la dispositiva, para tambien darle un ancho del 100%
*/
.slider ul, img{
	width: 100%;
}

/*
Texto que irá dentro de las imágenes
*/
.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	font-size: 50px;
}

/*
Iconos de circulos
*/
.pagination{
	position: absolute;
	top: 102%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

/*
Alineación de las flechitas
*/
.left, .right{
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 45px;
	z-index: 2;
	cursor: pointer;
}

/*
Flechitas
*/
.left{
	left: 10px;
}

.right{
	right: 10px;
}

/*
Opacidad para las imagenes
*/
img{
	opacity: 0.7;
}